<!DOCTYPE html>
<html ng-app='ShoppingListApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>Custom Service</title>
  </head>
  <body>
    <div class="container">
      <h1>Shopping List Check Off</h1>
       <div class="row">
           <!-- To Buy List -->
          <div class="col-md-6" ng-controller="ToBuyController as ToBuyCrt">
            <h2>To Buy:</h2>
            <ul ng-show="ToBuyCrt.items.size>0">
              <li ng-repeat="item in ToBuyCrt.items">
                  {{item.name}} {{item.quantity}}
                  <button class="btn btn-default" ng-click="ToBuyCrt.addItem(item.name, item.quantity);">
                  <span class="glyphicon glyphicon-ok"></span> Bought</button>
              </li>
            </ul>
            <div class="emptyMessage" ng-show="ToBuyCrt.items.size==0">Everything is bought!</div>
          </div>

          <!-- Already Bought List -->
          <div class="col-md-6" ng-controller="AlreadyBoughtController as AlreadyBoughtCrt">
            <h2>Already Bought:</h2>
            <ul ng-show="AlreadyBoughtCrt.boughtItems.size>0">
              <li ng-repeat="boughtItem in AlreadyBoughtCrt.boughtItems">
                  {{boughtItem.name}} {{boughtItem.quantity}}
            </ul>
            <div class="emptyMessage" ng-show="AlreadyBoughtCrt.boughtItems.size==0">Nothing bought yet.</div>
          </div>
      </div>
  </body>
</html>
